In [4]:
# Импорт библиотек
import pandas as pd
import numpy as np

# Загрузка датасета
df = pd.read_csv("dataset.csv")  # Заменить на актуальное имя файла

# Просмотр первых строк
df.head()

,id,rating,comment,Нравится скорость отработки заявок,Нравится качество выполнения заявки,Нравится качество работы сотрудников,Понравилось выполнение заявки,Вопрос решен
0,2945792,5,спасибо,NaN,NaN,NaN,NaN,NaN
1,3234340,5,спасибо!,NaN,NaN,NaN,NaN,NaN
2,3380332,5,Отлично,NaN,NaN,NaN,NaN,NaN
3,3381812,5,Благодарю за оперативное решение проблемы !,NaN,NaN,NaN,NaN,NaN
4,3461991,5,Прекрасный специалист! Побольше таких,NaN,NaN,NaN,NaN,NaN

In [5]:
# Проверим информацию о данных
df.info()

# Проверим наличие дубликатов
print("Дубликатов:", df.duplicated().sum())

# Удалим дубликаты
df = df.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2373 entries, 0 to 2372
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    2373 non-null   int64
 1   rating                                2373 non-null   int64
 2   comment                               2373 non-null   object
 3   Нравится скорость отработки заявок    0 non-null      float64
 4   Нравится качество выполнения заявки   0 non-null      float64
 5   Нравится качество работы сотрудников  0 non-null      float64
 6   Понравилось выполнение заявки         0 non-null      float64
 7   Вопрос решен                          0 non-null      float64
dtypes: float64(5), int64(2), object(1)
memory usage: 148.4+ KB
Дубликатов: 65